*{
    font-family: "Montserrat", sans-serif;
}
html{
    width: 98.4%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding-left: 13px;
    padding-right: 13px;
    height: 65px;
}
div.content{
    display: flex;
    margin-left: -2%;
    margin-right: -2%;
    flex-direction: column;
}
div.colabora{
    display: flex;
    justify-content: center;
}
div.colabora div.foto-hogar{
    width: 100%;
    max-height: 700px;
}

div.colabora div.foto-hogar img{
    object-fit: cover;
    width: 100%;
    height: 700px;
}

div.colabora .btn-colaborar{
    position: absolute;
    top: 25rem;
    width: 200px;
    height: 60px;
    border-radius: 9px;
    outline: 0;
    border: none;
    background-color: #E98F25;
    color: #E9E9E9;
    font-size: 22px;
}

div.banner-chicas {
    display: flex;
    justify-content: center;
}

div.banner-chicas img.foto-chicas{
    width: 100%;
}
div.quienes-somos{
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.quienes-somos p{
    width: 80%;
}
div.novedades{
    background-color: #FFDFBA;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
div.novedad-1,div.novedad-2{
    margin-bottom: 10%;
    width: 30%;
}
div.novedad-1 img,div.novedad-2 img{
    width: 100%;
}
@media (max-width: 1000px) {
    div.novedad-1,div.novedad-2{
        margin-bottom: 10%;
        width: 70%;
    }   
}

@media (min-width: 1000px) {
    div.quienes-somos {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    } 
}


